body {
  background: #fff;
}

/* Navbar */
.navbar-brand-icon {
  height: 32px;
}

/* Splash */
.cover {
  background-image: url('../img/bg.jpg');
  background-size: cover;
}

.cover-secondary {
  background-image: url('../img/bg2.jpg');
  background-size: cover;
}

.cover-error {
  background-image: url('../img/error.jpg');
  background-size: cover;
}

.splash {
  margin-top: 100px;
  min-height: 500px;
}

.splash-col {
  min-height: 50%;
}

.splash-brain {
  max-width: 100%;
  width: 100% \9;
}

.splash-title {
  font-size: 28px;
  padding-top: 10%;
  padding-bottom: 10%;
  color: #fff;
}

.splash-secondary {
  margin-top: 100px;
  min-height: 300px;
}

.splash-secondary-title {
  font-size: 64px;
  color: #fff;
}

@media (min-width: 544px) {
  .splash {
    min-height: 200px;
  }

  .splash-title {
    font-size: 20px;
    padding-top: 40%;
    padding-bottom: 40%;
    padding-left: 5%;
  }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  .splash-title {
    font-size: 24px;
    padding-top: 40%;
    padding-bottom: 40%;
  }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  .splash-title {
    font-size: 32px;
    padding-top: 40%;
    padding-bottom: 40%;
  }
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  .splash {
    min-height: 700px;
  }

  .splash-title {
    font-size: 40px;
    padding-top: 40%;
    padding-bottom: 40%;
  }
}

/* Content */
.content {
  padding-top: 60px;
  padding-bottom: 120px;
}

.content-title {
  font-size: 28px;
  padding-bottom: 60px;
}

.content-text {

}

.content-image {
  padding-top: 20px;
  padding-bottom: 40px;
}

.content-item {
  padding-bottom: 40px;
}

.content-item-title {
  font-weight: bolder;
}

.content-item-text {
  padding-bottom: 40px;
}

.seperator {
  padding-top: 20px;
  padding-bottom: 20px;
}

/* Footer */
.footer {
  padding-top: 60px;
  padding-bottom: 120px;
  background-color: #333333;
  color: #ddd;
  font-weight: 200;
}

.footer-link a {
  color: #ccc;
}

.footer-link a:hover {
  color: #eee;
}
