<!DOCTYPE html>
<html lang="en">
  {{> head}}

  <body>
    <div class="cover-secondary">
      {{> navbar}}

      <div class="container splash-secondary lead">
        <div class="text-xs-center splash-secondary-title">
          About
        </div>
      </div>
    </div>

    <div class="container content lead">

      <div class="row content-item">
        <div class="col-md-8 offset-md-2">
          <div class="text-xs-center content-item-text">
            Founded in the California in 2016, SolderByte's goal is to provide high quality affordable products.
          </div>
          <div class="text-xs-center content-item-text">
            SolderByte is built using open source technologies, and without open source technologies
            SolderByte would not have been able to accomplish its goal of making affordable products.
            It is commited in releasing its products and tools into the open source community,
            with the hopes that it will help others in the future.
          </div>
        </div>
      </div>
    </div>

    {{> footer}}

  </body>
</html>
