<!DOCTYPE html>
<html lang="en">
  {{> head}}

  <body>
    <div class="cover-secondary">
      {{> navbar}}

      <div class="container splash-secondary">
        <div class="text-xs-center splash-secondary-title">
          Contact
        </div>
      </div>
    </div>

    <div class="container content">

      <div class="row content-item">
        <div class="col-md-8 offset-md-2">
          <div class="text-xs-center content-item-text">
            Have a question about SolderByte or our products?
          </div>
          <div class="text-xs-center content-item-text">
            Email us at: <a href="mailto:info@solderbyte.com">info@solderbyte.com</a>
          </div>
        </div>
      </div>
    </div>

    {{> footer}}

  </body>
</html>
