<!DOCTYPE html>
<html lang="en">
  {{> head}}

  <body>
    <div class="cover">
      {{> navbar}}

      <div class="container splash">
        <div class="row">
          <div class="col-xs-12 col-sm-6 splash-col">
            <img src="img/solderbyte_brain_white.svg" class="img-fluid splash-brain" alt="SolderByte">
          </div>
          <div class="col-xs-12 col-sm-6 splash-col">
            <div class="splash-title">
              The Open Source Company
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="container content">
      <div class="text-xs-center">
        <div class="row">
          <div class="col-xs-12 col-md-6 offset-md-3">
            <div class="text-xs-center content-title">
              What is an Open Source Company?
            </div>
          </div>
        </div>
      </div>

      <div class="row content-item">
        <div class="col-md-5 offset-md-1">
          <div class="content-item-title">
            Building open source products
          </div>
          <div class="content-item-text">
            Our products are all open source and available to download for free. We believe in giving back to the community.
          </div>
        </div>
        <div class="col-md-5">
          <div class="content-item-title">
            Built with open source software
          </div>
          <div class="content-item-text">
            SolderByte is built using open source technology, such as linux, git, atom, node.js, docker, and linuxCNC.
          </div>
        </div>
      </div>

      <div class="text-xs-center content-image">
        <a href="https://github.com/SolderByte"><img class="img-rounded" src="img/github_mark.svg"></a>
      </div>

      <div class="container seperator">
        <hr>
      </div>

      <div class="text-xs-center">
        <div class="row">
          <div class="col-xs-12 col-md-6 offset-md-3">
            <div class="text-xs-center content-title">
              Innovative affordable products
            </div>
          </div>
        </div>
      </div>

      <div class="row content-item">
        <div class="col-md-5 offset-md-1">
          <div class="content-item-title">
            Our Mission
          </div>
          <div class="content-item-text">
            SolderByte's mission is to utilize and apply the latest hardware and software practices to develop affordable electronics.
          </div>
        </div>
        <div class="col-md-5">
          <div class="content-item-title">
            Solving problems
          </div>
          <div class="content-item-text">
            We want to create fun and innovative products that solve everyday problems.
          </div>
        </div>
      </div>
    </div>

    {{> footer}}

  </body>
</html>
