<div class="footer">
  <div class="container">
    <div class="">
      <span class="">solderbyte.com</span>
      <span class="pull-xs-right">
        <ul class="nav navbar-nav footer-link">
          <li class="nav-item">
            <a class="nav-link" href="/">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/about">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/contact">Contact</a>
          </li>
        </ul>
      </span>
    </div>
  </div>
</div>
